*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    color: #fff;
    background: black;
    overflow: hidden;
}

.header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    position: fixed;
    top: 0;
    left: 0;
    background: transparent;
    z-index: 1;
}
.logo{
    font-size: 32px;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    filter: drop-shadow(2px 2px 10px #ff0505);
}
.navbar a{
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    margin-left: 20px;
    transition: .3s;
}
.navbar a:hover, .navbar a.active{
    color: red;
    filter: drop-shadow(2px 2px 5px #ff0505);
}   

.main{
    min-height: 100vh;
    background: url(images/quiz_back.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    pointer-events: auto;
    transition: 0.3s ease;
}
.main.active{
    filter: blur(15px);
    pointer-events: none;
}
.container{
    display: flex;
    height: 100vh;
    width: 200%;
}
.quiz{
    position: relative;
    left: -50%;
    /* left: 0%; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quiz-content{
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quiz-content h1{
    font-size: 78px;
    font-weight: 700;
    text-shadow: 0 0 10px rgba(0, 0, 0, .5);
}
.quiz-content p{
    font-size: 16px;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, .5);
    margin-bottom: 30px;
}
.quiz-content .start-btn{
    width: 190px;
    color: #fff;
    height: 55px;
    border: 2px solid #fff;
    background: darkblue;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 0 10px darkblue;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    transition: .5s;
}
.quiz-content .start-btn:hover{
    /* background-color: #100f0f; */
    background: #09001d;
    box-shadow: none;
}
.desc_info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    width: 500px;
    background-color: #fff;
    padding: 10px 25px;
    border-radius: 10px;
    opacity: 0;
    pointer-events: none;
    transition: .5s ease;
}
.desc_info.active{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.desc_info h2{
    font-size: 50px;
    color: darkblue;
}
.desc_info .info{
    display: inline-block;
    font-size: 18px;
    color: rgb(38, 30, 30);
    font-weight: 500;
    margin: 4px 0;
}
.desc_info .btn-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #999;
    margin-top: 10px;
    padding: 10px 0 7px;
}
.desc_info .btn-group .info_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 45px;
    background-color: darkblue;
    border: 2px solid darkblue;
    text-decoration: none;
    border-radius: 6px;
    outline: none;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: .5s;
}
.desc_info .btn-group .info_btn:nth-child(1){
    background: transparent;
    color: darkblue;
}
.desc_info .btn-group .info_btn:nth-child(1):hover{
    background:darkblue;
    color: #fff;
}
.desc_info .btn-group .info_btn:nth-child(2):hover{
    background: rgb(1, 1, 81);
}
.quiz-section{
    position: relative;
    left: -50%;
    width: 100%;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.8s ease-in-out;
    transition-delay: .25s;
    z-index: 1;
}
.quiz-section.active{
    left: 0%;
}
.quiz-section .quiz-box{
    position: relative;
    width: 500px;
    background: transparent;
    border: 2px solid darkblue;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    opacity: 0;
    pointer-events: none;
    transform: scale(.9);
    transition: .3s ease;
    transition-delay: 0s;
}

.quiz-section .quiz-box.active{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
    transition: 1s ease;
    transition-delay: 1s;
}

.quiz-box h1{
    font-size: 32px;
    text-align: center;
    background: linear-gradient(45deg, transparent, darkblue , transparent);
    border-radius: 6px;
}
.quiz-box .quiz-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 2px solid darkblue;
    margin-bottom: 30px;
}
.quiz-header span{
    font-size: 18px;
    font-weight: 500;
}
.quiz-header .header-score{
    background: darkblue;
    border: 3px;
    padding: 7px;
}
.quiz-box .question-text{
    font-size: 24px;
    font-weight: 600;
}
.option-list .option{
    width: 100%;
    padding: 12px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    font-size: 17px;
    margin: 15px 0;
    cursor: pointer;
    transition: .3s;
}
.option-list .option:hover{
    background: rgba(255, 255, 255, .1);
    border-color:  rgba(255, 255, 255, .1);;
}
.option-list .option.correct{
    background: #09001d;
    border-color: #00a63d;
    color: #00a63d;
}
.option-list .option.incorrect{
    background: #09001d;
    border-color: #a60045;
    color: #a60045;
}
.option-list .option.disabled{
    pointer-events: none;
}

.quiz-box .quiz-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid darkblue;
    padding-top: 20px;
    margin-top: 25px;
}
.quiz-footer .question-total{
    font-size: 16px;
    font-weight: 600;
}
.quiz-footer .next-btn{
    width: 100px;
    height: 45px;
    background: rgba(255, 255, 255, .1);
    border: 2px solid rgba(255, 255, 255, .1);
    border-radius: 6px;
    outline: none;
    font-size: 16px;
    color: rgba(255, 255, 255, .3);
    font-weight: 600;
    cursor: pointer;
    pointer-events: none;
    transition: 0.5s;
}

.quiz-footer .next-btn.active{
    pointer-events: auto;
    background: darkblue;
    border-color: darkblue;
    color: #fff;
}

.quiz-footer .next-btn.active:hover{
    color: #fff;
    background: rgb(0, 0, 72);
    border-color: rgb(0, 0, 72);
}

.quiz-section .result-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.9);
    width: 500px;
    border: 2px solid darkblue;
    border-radius: 6px;
    background: transparent;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transform: .3s eas e;
}

.result-box.active{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.result-box h2{
    font-size: 52px;
}

.result-box .percentage-container{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 40px;
}

.percentage-container .circular-progress{
    position: relative;
    width: 250px;
    height: 250px;
    background: conic-gradient(darkblue 3.6deg,rgba(255,255,255,.1) 0deg);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.percentage-container .circular-progress::before{
    content: '';
    position: absolute;
    width: 210px;
    height: 210px;
    background: #000000;
    border-radius: 50%;
}

.circular-progress .progress-value{
    position: relative;
    font-size: 45px;
    font-weight: 600;
}

.percentage-container .score-text{
    font-size: 26px;
    font-weight: 600;
    margin-top: 20px;
}

.result-box .buttons{
    display: flex;
}

.buttons button{
    width: 130px;
    height: 47px;
    background: darkblue;
    border: 2px solid darkblue;
    border-radius: 6px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    margin: 0px 15px;
    cursor: pointer;
    transition: .5s;
}

.buttons button:nth-child(2){
    background: transparent;
    color: darkblue; 
}

.buttons button:nth-child(1):hover{
    background: rgb(0, 0, 72);
    border-color: rgb(0, 0, 72); 
}

.buttons button:nth-child(2):hover{
    background: darkblue;
    color: #fff;
}

@media screen and (max-width: 1200px) {
    .logo {
        font-size: 28px;
    }
    .navbar a {
        font-size: 15px;
    }
    .quiz-content h1 {
        font-size: 70px;
    }
    .quiz-content p {
        font-size: 13px;
        margin-bottom: 20px;
    }
    .quiz-content .start-btn {
        width: 150px;
        font-size: 15px;
        height: 40px;
    }
    .desc_info {
        width: 400px;
    }
    .desc_info h2 {
        font-size: 40px;
    }
    .desc_info .info {
        font-size: 15px;
    }
    .quiz-section .quiz-box {
        width: 430px;
    }
    .quiz-box .quiz-header {
        padding: 15px 0;
    }
    .quiz-header span {
        font-size: 15px;
    }
    .quiz-box .quiz-header {
        margin-bottom: 15px;
    }
    .quiz-box .question-text {
        font-size: 23px;
    }
    .option-list .option {
        font-size: 15px;
        margin: 12px 0;
    }
    .quiz-box .quiz-footer {
        padding-top: 13px;
        margin-top: 10px;
    }
    .quiz-footer .next-btn {
        width: 75px;
        font-size: 12px;
        height: 30px;
    }
    .quiz-footer .question-total{
        font-size: 11px;
    }
    .quiz-section .result-box {
        width: 400px;
        padding: 15px;
    }
    .result-box h2 {
        font-size: 40px;
    }
    .result-box .percentage-container {
        width: 250px;
        margin: 15px 0 30px;
    }
    .circular-progress .progress-value {
        font-size: 40px;
    }
    .percentage-container .circular-progress {
        width: 220px;
        height: 220px;
    }
    .percentage-container .circular-progress::before {
        width: 180px;
        height: 180px;
    }
    .percentage-container .score-text {
        font-size: 21px;
    }
    .buttons button {
        width: 115px;
        height: 40px;
        font-size: 13px;
    }
}

@media screen and (max-width: 999px) {
    .logo {
        font-size: 15px;
    }
    .navbar a {
        font-size: 10px;
    }
    .quiz-content h1 {
        font-size: 45px;
    }
    .quiz-content p {
        font-size: 11px;
        margin-bottom: 15px;
    }
    .quiz-content .start-btn {
        width: 110px;
        font-size: 11px;
        height: 40px;
    }
    .desc_info {
        width: 300px;
    }
    .desc_info h2 {
        font-size: 35px;
    }
    .desc_info .info {
        font-size: 10px;
    }
    .desc_info .btn-group .info_btn {
        width: 90px;
        height: 30px;
        font-size: 10px;
    }
    .quiz-section .quiz-box {
        width: 370px;
    }
    .quiz-box h1 {
        font-size: 25px;
    }
    .quiz-box .quiz-header {
        padding: 10px 0;
    }
    .quiz-header span {
        font-size: 12px;
    }
    .quiz-box .quiz-header {
        margin-bottom: 10px;
    }
    .quiz-box .question-text {
        font-size: 15px;
    }
    .option-list .option {
        font-size: 11px;
        margin: 10px 0;
    }
    .quiz-box .quiz-footer {
        padding-top: 8px;
        margin-top: 5px;
    }
    .quiz-footer .next-btn {
        width: 90px;
        font-size: 14px;
    }
    .quiz-footer .question-total{
        font-size: 14px;
    }
    .quiz-section .result-box {
        width: 350px;
        padding: 10px;
    }
    .result-box h2 {
        font-size: 40px;
    }
    .result-box .percentage-container {
        width: 200px;
        margin: 5px 0 15px;
    }
    .circular-progress .progress-value {
        font-size: 25px;
    }
    .percentage-container .circular-progress {
        width: 170px;
        height: 170px;
    }
    .percentage-container .circular-progress::before {
        width: 130px;
        height: 130px;
    }
    .percentage-container .score-text {
        font-size: 18px;
    }
    .buttons button {
        width: 100px;
        height: 35px;
        font-size: 11px;
    }
}